<div id="modal-architecture" class="modal-overlay" role="dialog" aria-modal="true" aria-labelledby="modal-title">
  <div class="modal-box">
    <button class="modal-close" id="modal-architecture-close-btn" aria-label="Close">&times;</button>
    <h3 id="modal-title">Architecture UI Demo</h3>
    <p class="modal-sub">Flowchart for a Cleaning Supply Request</p>

    <div class="modal-architecture-grid">
      <div class="modal-architecture-card">
        <i class="fa-solid fa-building-columns"></i>
        <strong>Architecture</strong>
        <img src="static/img/supplyflow_architecture_dark.svg">
      </div>
    </div>
  </div>
</div>